body {
  background-color: lavender;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:black;
}

.header img {
  float: left;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  font-size: 48px;
}

button {
  font-family: Trebuchet MS, 'Lucida Sans Unicode';
}

.account-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}